<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>View Factories</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" media="screen"/>

    <script src="../static/js/jquery.min.js"
            th:src="@{/js/jquery.min.js}"></script>

</head>
<body >
<div class="container">
    <nav class="navbarnavbar-default">
        <div class="container-fluid">
            <div class="navbar-header">

                <ul class="nav navbar-nav">
                    <li><a class="navbar-header" href="#" th:href="@{/}">Home</a></li>
                    <li><a href="#" th:href="@{/employee/create-employee}">Create Employee</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="row text-center">
            <div class="">
                <h2>SpringBoot Factory Application</h2>
                <h3>List of Factories </h3>
            </div>
        </div>
        <div class="row text-center">

            <img src="../static/image/Factory.png" height="198" width="255"
                 th:src="@{/image/Factory.png}"/>
        </div>
    </div>
</div>


<div class="container">

    <table class="table table-striped" border="2">
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Employee Number
            </th>
            <th>
                Employee Email
            </th>
            <th>
                Employee Department
            </th>
            <th>
                View
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
        <tbody>
        <tr th:each="emp: ${myEmployee}">
             <td th:text="${emp.employeeName}"></td>
              <td th:text="${emp.employeeNo}"></td>
             <td th:text="${emp.employeeEmail}"></td>
            <td th:text="${emp.department.get(0).getDepartmentName()}"></td>

        <td><a href="#" th:href="@{'/employee/employee/' + fac.id}" class="btn btn-default">View</a></td>
            <td><a href="#" th:href="@{'/employee/edit/' + fac.id}" class="btn btn-default">Edit</a></td>
            <td><a href="#" th:href="@{'/employee/delete/' + fac.id}" class="btn btn-danger">Delete</a></td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>

